.Person {
	width: 60%;
	margin: 10px auto;
	border: 1px solid #eee;
	box-shadow: 0 2px 3px #ccc;
	padding: 16px;
	text-align: center;
}

/* this is how you would do a media query without Radium, but we are going to use Radium because there are cases when it would be easier or the best way to do it */
/* @media (min-width: 500px) {
	.Person {
		width: 450px;
	}
} */
